<div>
  <h2><u>Corporate Employees</u></h2>
  <table class="table table-striped">
    <thead>
    <tr>
      <th scope="col">Name</th>
      <th scope="col">Job Title</th>
      <th scope="col">Tenure</th>
      <th scope="col">Gender</th>
    </tr>
    </thead>
    <tbody>
    <tr *ngFor="let employee of employees | orderBy: order">
      <td>{{employee.name}}</td>
      <td>{{employee.jobTitle}}</td>
      <td>{{employee.tenure}}</td>
      <td>{{employee.gender}}</td>
    </tr>
    </tbody>
  </table>
</div>
<h6>Employee by Job Title</h6>
<div style="display: block">
  <canvas baseChart
          [data]="pieChartData"
          [labels]="pieChartLabels"
          [chartType]="pieChartType"
          (chartHover)="chartHovered($event)">
  </canvas>
</div>

